{% extends 'blog/base.html' %}
{% block content %}
    {% for game in games %}
        <div class="mdl-cell mdl-card mdl-shadow--3dp mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
            <div>
                <div class="team-info">
                    <div>
                        <img class="team-logo" src="
                        https://ru.global.nba.com/media/img/teams/logos/{{ game.visitorteamid.shortname }}_logo.svg"/>
                    </div>
                    <div class="team-name">{{ game.visitorteamid.alias }}</div>
                </div>
                <div class="game-info">
                    <div class="team-score visitor-team-score
                        {% if game.result == 1 %}
                            score-win
                        {% endif %}
                    ">{{ game.visitorteampoints }}</div>
                    <div class="game-status">
                        <div>3Q</div>
                        <div>03:21</div>
                    </div>
                    <div class="team-score home-team-score
                        {% if game.result == 0 %}
                            score-win
                        {% endif %}
                    "> {{ game.hometeampoints }}</div>
                </div>
                <div class="team-info">
                    <div>
                        <img class="team-logo" src="
                        https://ru.global.nba.com/media/img/teams/logos/{{ game.hometeamid.shortname }}_logo.svg"/>
                    </div>
                    <div class="team-name">{{ game.hometeamid.alias }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}